@media only screen and (max-width: 1000px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #company-detail{
        z-index: 7;
    }
  }